h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: right;
    border: 3px solid blue;
    width: 50%;
}

p {
    background-color: #000000;
    color: #ffffff;
}

span { 
    font-size: 40px;
    font-family: "Comic Sans MS";
    color: yellow;
    text-decoration: underline;
    text-transform: uppercase;
}

ul {
    font-size: 50px;
    list-style: nome;
}

ol {
    font-size: 50px;
    list-style: upper-roman;
    margin-left: 40px;
}

.conteudo {
    margin-left: 2rem;
}

#titulo-principal {
    margin-left: 5rem;
}

/* Explicando Cascade e especificidade */

.titulo-pagina {
    font-size: 5rem;
    border: 5px solid red;
    color: red;
}

.titulo {
    border-style: dashed;
    color: green;
}