* {
    box-sizing: border-box; 
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

/* h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: right;
    border: 3px solid blue;
    width: 50%;
} */

/* p {
    background-color: #000000;
    color: #ffffff;
} */


ul {
    font-size: 50px;
    list-style: nome;
}

ol {
    font-size: 50px;
    list-style: upper-roman;
    margin-left: 40px;
}

.conteudo {
    margin-left: 2rem;
}

#titulo-principal {
    margin-left: 5rem;
}

/* Explicando Cascade e especificidade */

/* 0 - 2 - 0  */
.titulo.titulo-pagina {
    color: purple;
}

/* 1 - 0 - 0 */
#titulo-principal {
    color: aquamarine

}

/* 0 - 1 - 0  */
.titulo-pagina {
    font-size: 5rem;
    border: 5px solid red;
    color: rgb(37, 37, 37);
    margin-left: 4rem;
}

/* 0 - 1 - 0  */
.titulo {
    border-style: dashed;
    color: #768076;
    margin-left: 0rem;
}

/* 0 - 0 - 1  */
h1 { 
    color: blue;
    /* 1 - 0 - 0 - 1  */
    /* color: blue !important; */
}

/* 
Regra de Especificidade:

0 - 2 - 1 
*/

.titulo-generico {
    font-size: 40px;
    color: red;
}

.container-exemplo > .titulo-generico {
    font-size: 80px;
    color: black;

}

.meu-link {
    font-size: 30px;
    text-decoration: none;
}


.meu-link:hover {
    text-decoration: underline;
    background-color: gray;
}

.meu-link:link {
    color: green;
}

.meu-link:visited {
    color: #c86d04
}

.meu-link:active {
    font-size: 60px;
    color: red;
}

.meu-link:focus {
    font-size: 90px;
    color: purple;

}

.meu-input {
    background-color: grey;
    font-size: 50px;
    color: white;
}

.meu-input[type="number"] {
    font-size: 90px;
    background-color: red;
}

.meu-input:focus {
    background-color: white;
    color: black;
}

.nav-menu {
    border: 2px solid blue;
    list-style: none;
}

.menu-item {
    border: 2px dashed purple;
    background-color: grey;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 30px;
    min-width: 200px;
}

.menu-item:last-child {
    margin-bottom: 0px;
}


.menu-item:first-child {
    color: red;
}

.menu-item:nth-child(3) {
    background-color: green;
}

.menu-item:nth-child(n + 2) {
    font-weight: bold;
}

.bloco-inicial {
    font-size: 50px;
    background-color: #c86d04;
    margin-bottom: 20px;
    display: block; /* por padrao div é block */
    width: 600px;
}

.span-inicial { 
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block; /* por padrao span é inline */
    /*display: inline; */ /* por padrao span é inline */
    width: 200px; /* ignorado por elemento inline */
    height: 50px; /* ignorado por elemento inline */
    background-color: #768076;
}

.bloco-escondido {
    display: none;
}

/*
elementos que sao por default inline 
<span>
<a >
<strong>
<em>
*/


.box {
    background-color: blue;
    color: white;
    width: 100px;
    /* height: 100px; */
    display: block;
    /* border: 10px solid green; */


    /* padding: 10px; */
    /* padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 30px; */

    /* padding: 20px 30px; */
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px; */

    /* padding: 10px 20px 30px 40px; */
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;


    margin: 10px;
    border-top: 10px solid green;
    border-bottom: 4px dashed green;
}

.wrapper {
    /* como esse elemento é uma div ele por padrao é display block */
    display: block;
    background-color: #768076;
    font-size: 1.5rem;
    width: 40rem;
    margin: 0 auto;
}

.wrapper p {
    margin-top: 0;
}

.wrapper .imagem-principal {
    float: left;
    /* border: 10px solid magenta; */
    /* margin-right: 10px;
    margin-bottom: 10px; */
    margin: 0 20px 10px 0; 
}

.wrapper .paragrafo-clear {
    /* clear: both; */
}

.wrapper .imagem-direita {
    float: right;
}

.wrapper::after {
    content: '';
    display: table;
    clear: both;
}

.wrapper-2 {
    background-color: #f0ebb0;
    font-size: 1.5rem;
    width: 56rem;
    margin: 20px auto;
}

.wrapper-2::after {
    content: '';
    display: table;
    clear: both;
}

.box-1 {
    height: 200px;
    width: 33%;
}
.red {
    background-color: red;
    float: right;
}
.blue {
    background-color: blue;
    float: right;
    /* margin-left: 30px; */
}
.green {
    background-color: green;
    float: right;
}
.wrapper-3 {
    background-color: #f0ebb0;
    font-size: 1.5rem;
    width: 56rem;
    margin: 20px auto;
}

.wrapper-3::after {
    content: '';
    display: table;
    clear: both;
}
.servico {
    width: 31%;
    border: 1px solid blue;
    float: left;
    min-height: 200px;
    margin: 0 1%;
    padding: 0 1%;
}

.wrapper-4 {
    border: 2px solid blue;
    padding: 20px;
    margin-top: 40px;
    position: relative;
}

.filho {
    position: fixed;
    background-color: red;
    padding: 20px;
    bottom: 20px;
    right: 30px;
}